.card {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1.5;
    border: 3px solid #000000;
    border-radius: 10px;
}

.cardDown  {
    background-color: #557DE7;
}
.cardUp {
    background: #E1E4ED;
}
